
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white; 
    font-size: 30px;
    line-height: 1.6;
    text-shadow: 0 0 3px #e9d3ff;
	text-align: justify;
	font-family: verdana;
}

h1 {
	    font-family: 'Press Start 2P', monospace;
		text-align: center;
		color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 8px #fff,
    0 0 10px #fff,
    0 0 30px #78ecf5,
    0 0 40px #78ecf5,
    0 0 50px #78ecf5,
    0 0 80px #78ecf5,
    0 0 80px #78ecf5;
}

h2 {
	font-family: "WDXL Lubrifont TC", sans-serif;
	font-weight: 400;
  	font-style: normal;
	font-size: 55px;
}

a {
    color: #00ffff;
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
}



.section {
	
    width: 1250px;
    margin: 30px auto;
    border: 5px dashed white;
  box-shadow: 0 0 15px 4px #78ecf5;

    padding: 60px;

}





.projects-text ul {
    list-style: square;
    padding-left: 20px;
}

.projects-text li {
    margin-bottom: 10px;
}


.footerimg {
	text-align: center;
}

.footerimg img {
	width: 1400px;
}


.aboutimg {
	width: 250px;
	float: right;
	margin-left: 50px;

}

.aboutimg img {
	width: 250px;
	    
  box-shadow: 0 0 15px 4px #a9f9ff;
	border-radius: 500px;
}

.bio-text {
	
}
